.dashboard {
  margin: 120px auto;
  max-width: 500px;
  color: white;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

label {
  display: block;
  margin: 4px 0;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #0a58ca;
  color: white;
  border: none;
}
