.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #0a58ca;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
}


.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.navbar button {
  background: white;
  color: #0a58ca;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
